<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <nav>
        <%- include('../partials/header'); %>
    </nav>

    <main>
        <h1>This is the About!</h1>
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>