<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <nav>
        <%- include('../partials/header'); %>
    </nav>

    <main>
        
        <section id="banner">

        </section>
        
        <section id="login">
            <div class="login container">
                <div class="login-top">
                    <h2 class="sub-title"></h2>
                </div>
                <div class="login-bottom">
                    <div class="form-wrapper">
                        <form id="login-info" novalidate>

                            <p id="success"></p>

                            <div class="form-group">
                                <label for="username" class="username">Username*</label>
                                <input type="text" id="username" name="username" placeholder="Gary" autocomplete="username">
                                <div class="description" id="username-valid"></div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="password">Password*</label>
                                <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password">
                                <div class="description" id="password-valid"></div>
                            </div>

                            <button type="submit" class="btn login">Login</button>

                        </form>
                        <a href="#">Forgot your password?</a>
                        <a href="/register">Don't have an account yet?</a>
                    </div>
                </div>
            </div>
        </section>

    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>